<html>
<title>Delete Actor Confirmation</title>

<head>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}form-style.css">

</head>

<body>
<div class="column">

<div class="headerheader">
	{% include 'navigation.html' %}
</div><!--ends header-->

<div class="notheader">
<center>
<b>{{ state }} </b>
<br><br>
<a href='{% url rt:index %}'>Back to index</a>
</center>
</div>

</div> <!-- ends column -->

<div class="footer">
	{% include 'footer.html' %}
</div>
</body>
</html> 
