<html>
<title>Actor Information - {{ title }}</title>

<head>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}form-style.css">

</head>

<body>
<div class="column">

<div class="headerheader">
	{% include 'navigation.html' %}
</div><!--ends header-->

<div class="notheader">
<h2>{{ name }}</h2>
<b>Year of birth: </b> {{ yearofbirth }} <br>
<b>Place of birth: </b> {{ placeofbirth }} <br>
<b>Movies: </b> - 
{% for x, y in movies %}
<a href='{% url rt:movie_info y %}'>{{ x }}</a> - 
{% endfor %} 
<br>
<br>
<b>Average User Rating: </b>{{ rating }}
<br>
<br>
{% if perm == "a" %}
<a href='{% url rt:actor_delete num %}'>Delete</a>
{% endif %}

<center>
<div class="rating">
<form action="{% url rt:actor_info num %}" method="post"> {% csrf_token %}
<span>☆ 5</span><input type="radio" name="rating" value="5">
<span>☆ 4</span><input type="radio" name="rating" value="4">
<span>☆ 3</span><input type="radio" name="rating" value="3">
<span>☆ 2</span><input type="radio" name="rating" value="2">
<span>☆ 1</span><input type="radio" name="rating" value="1">
<tr></tr>
<td><input name="submit" type="submit" value="Rate"></td>
</form>
</div>
</center>

</div>

</div> <!-- ends column -->

<div class="footer">
	{% include 'footer.html' %}
</div>
</body>
</html> 
