<html>
<title>Actors</title>

<head>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}form-style.css">

</head>

<body>
<div class="column">

<div class="headerheader">
	{% include 'navigation.html' %}
</div><!--ends header-->

<div class="notheader">
{% if perm == "a" %}
<a href='{% url rt:actor_add %}'>Add an actor</a><br>
<a href='{% url rt:actor_edit %}'>Accept an actor edit</a><br>
<br>
{% endif %}
{% if perm != "" %}
<a href='{% url rt:actor_suggest %}'>Suggest an actor</a>
<br>
{% endif %}
<a href='{% url rt:actor_search %}'>Search for an actor</a>
<br>

<br><br>
<b>Actor List:</b><br>
{% for x, y in ids %}
<a href='{% url rt:actor_info y %}'>{{ x }}</a><br>
{% endfor %}
<br><br>
{{ state }}

</div>
</div> <!--ends column-->

<div class="footer">
	{% include 'footer.html' %}
</div>
</body>

</body>
</html>
