
<html>
<head>
<style>
.error{
    position:relative;
    top:200px;
    width:500px;
    height:350px;
    background-color:#FFFFFF;
    padding: 10px;
}
</style>
</head>
<body background="{{ STATIC_URL }}noise.jpg">
<center>
<div class="error">
<h1>An error has occured.</h1>
<font color="red">
{{ state }}

{% if state == "All fields must be properly filled during registration." %}
<meta http-equiv="REFRESH" content='4; url= {% url rt:register %}'></head>
{% elif state == "All fields need to be completed when suggesting a movie." %}
<meta http-equiv="REFRESH" content='4; url= {% url rt:movie_suggest %}'></head>
{% elif state == "Invalid year during the creation of a movie." %}
<meta http-equiv="REFRESH" content='4; url= {% url rt:movie_suggest %}'></head>
{% elif state == "Invalid actor names. (Format:  Actor A, Actor B, Actor C...)" %}
<meta http-equiv="REFRESH" content='4; url= {% url rt:movie_suggest %}'></head>
{% elif state == "All fields need to be completed when suggesting an actor." %}
<meta http-equiv="REFRESH" content='4; url= {% url rt:actor_suggest %}'></head>
{% elif state == "All fields need to be completed when suggesting a TV show." %}
<meta http-equiv="REFRESH" content='4; url= {% url rt:tv_suggest %}'></head>
{% elif state == "Invalid actor names when suggesting a TV show. (Format:  Actor A, Actor B, Actor C...)" %}
<meta http-equiv="REFRESH" content='4; url= {% url rt:tv_suggest %}'></head>
{% elif state == "Invalid year during the creation of a TV show." %}
<meta http-equiv="REFRESH" content='4; url= {% url rt:tv_suggest %}'></head>
{% elif state == "Invalid date during the creation of the actor profile. (mm-dd-YYYY)" %}
<meta http-equiv="REFRESH" content='4; url= {% url rt:actor_suggest %}'></head>
{% elif state == "Invalid actor name during the creation of the actor profile." %}
<meta http-equiv="REFRESH" content='4; url= {% url rt:actor_suggest %}'></head>
{% elif state == "All fields need to be completed when editing a movie." %}
<meta http-equiv="REFRESH" content='4; url= {% url rt:movie_edit_suggest num %}'></head>
{% elif state == "All fields need to be completed when editing an actor." %}
<meta http-equiv="REFRESH" content='4; url= {% url rt:actor_edit_suggest num %}'></head>
{% elif state == "Invalid director name(s) during the creation of the movie." %}
<meta http-equiv="REFRESH" content='4; url= {% url rt:movie_suggest %}'></head>
{% elif state == "Invalid producer name(s) during the creation of the movie." %}
<meta http-equiv="REFRESH" content='4; url= {% url rt:movie_suggest %}'></head>
{% else %}
<meta http-equiv="REFRESH" content='4; url= {% url rt:index %}'></head>
{% endif %}
<br>
</font>

<a href='{% url rt:index %}'><img class="logo" src="http://i.imgur.com/UeMDt0E.png" alt="" /></a>

<br><br><br>
<i>Please wait while we direct you back...</i>
</div></center>
</body>
</html> 

{% if state == "All fields must be properly filled during registration." %}
<meta http-equiv="REFRESH" content='4; url= {% url rt:register %}'></head>
{% elif state == "All fields need to be completed when suggesting a movie." %}
<meta http-equiv="REFRESH" content='4; url= {% url rt:movie_suggest %}'></head>
{% elif state == "Invalid year during the creation of a movie." %}
<meta http-equiv="REFRESH" content='4; url= {% url rt:movie_suggest %}'></head>
{% elif state == "Invalid actor names. (Format:  Actor A, Actor B, Actor C...)" %}
<meta http-equiv="REFRESH" content='4; url= {% url rt:movie_suggest %}'></head>
{% elif state == "All fields need to be completed when suggesting an actor." %}
<meta http-equiv="REFRESH" content='4; url= {% url rt:actor_suggest %}'></head>
{% elif state == "All fields need to be completed when suggesting a TV show." %}
<meta http-equiv="REFRESH" content='4; url= {% url rt:tv_suggest %}'></head>
{% elif state == "Invalid actor names when suggesting a TV show. (Format:  Actor A, Actor B, Actor C...)" %}
<meta http-equiv="REFRESH" content='4; url= {% url rt:tv_suggest %}'></head>
{% elif state == "Invalid year during the creation of a TV show." %}
<meta http-equiv="REFRESH" content='4; url= {% url rt:tv_suggest %}'></head>
{% elif state == "Invalid date during the creation of the actor profile. (mm-dd-YYYY)" %}
<meta http-equiv="REFRESH" content='4; url= {% url rt:actor_suggest %}'></head>
{% elif state == "Invalid actor name during the creation of the actor profile." %}
<meta http-equiv="REFRESH" content='4; url= {% url rt:actor_suggest %}'></head>
{% elif state == "All fields need to be completed when editing a movie." %}
<meta http-equiv="REFRESH" content='4; url= {% url rt:movie_edit_suggest num %}'></head>
{% elif state == "All fields need to be completed when editing an actor." %}
<meta http-equiv="REFRESH" content='4; url= {% url rt:actor_edit_suggest num %}'></head>
{% else %}
<meta http-equiv="REFRESH" content='4; url= {% url rt:index %}'></head>
{% endif %}
<br>
</body>
</head>
</html> 
