<html>
<title>WELCOME</title>

<head>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}form-style.css">

</head>

<body>
<div class="column">

<div class="headerheader">
	{% include 'navigation.html' %}
</div><!--ends header-->

<div class="notheader">
{{ state }}
<br><br>
{% if perm != "" %}
<b>News: </b> {{ news }}
<br><br><br>
<b>Watchlist: </b><br>
<u>Movies:</u><br>
{{ mwl }}
{% for a, b in mids %}
<a href='{% url rt:movie_info b %}'>{{ a }}</a><br>
{% endfor %}
<br>
<br>
<u>TV Shows:</u><br>
{{ twl }}
{% for x, y in tids %}
<a href='{% url rt:tv_info y %}'>{{ x }}</a><br>
{% endfor %}
{% endif %}
<br>
{% if perm == "a" %}
<br>
<a href='{% url rt:news_add %}'>Add news</a><br>
{% endif %}

</div>
</div> <!-- ends column -->

<div class="footer">
	{% include 'footer.html' %}
</div>
</body>
</html>
