<html>
<title>Movie Suggest Confirmation</title>
<head>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}form-style.css">

</head>

<body>
<div class="column">

<div class="headerheader">
	{% include 'navigation.html' %}
</div><!--ends header-->

<div class="notheader">
<h3><b>You have submitted the following movie:</b></h3>
<b>Title: </b> {{ title }} <br>
<b>Year: </b> {{ year }} <br>
<b>Director: </b> {{ director }} <br>
<b>Producer: </b> {{ producer }} <br>
<b>Actors: </b> {{ actors }} <br>
<b>Synopsis: </b> {{ synopsis }} <br>
<br><br>
<a href='{% url rt:index %}'>Back to index</a>
<br>
<br>
{{ state }}
</div>

</div> <!-- ends column -->

<div class="footer">
	{% include 'footer.html' %}
</div>
</body>
</html> 
