<html>
<title>Movies</title>

<head>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}form-style.css">

</head>

<body>
<div class="column">

<div class="headerheader">
	{% include 'navigation.html' %}
</div><!--ends header-->

<div class="notheader">
{% if perm == "a" %}
<a href='{% url rt:movie_add %}'>Add a movie</a>
<br>
{% endif %}
{% if perm != "" %}
<a href='{% url rt:movie_suggest %}'>Suggest a movie</a>
<br>
{% endif %}

<br><br>
<b>Movie List:</b><br>
{% for x, y in ids %}
<a href='{% url rt:movie_info y %}'>{{ x }}</a><br>
{% endfor %}
<br><br>
{{ state }}

</div>
</div> <!--ends column-->

<div class="footer">
	{% include 'footer.html' %}
</div>
</body>

</body>
</html>
