<html>
<title>Movie Edit Suggestion - Confirmation</title>
<head>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}form-style.css">

</head>

<body>
<div class="column">

<div class="headerheader">
	{% include 'navigation.html' %}
</div><!--ends header-->

<div class="notheader">
<h3><b>You have submitted the following modification to: {{ title }}</b></h3>
<b>Year: </b> {{ year }} - (Old: {{ oldYear }})<br>
<b>Director: </b> {{ director }} - (Old: {{ oldDirector }})<br>
<b>Producer: </b> {{ producer }} - (Old: {{ oldProducer }})<br>
<b>Actors: </b> {{ actors }} - (Old: {{ oldActors }})<br>
<b>Synopsis: </b> {{ synopsis }} (Old: {{ oldSynopsis }})<br>
<br><br>
<a href='{% url rt:index %}'>Back to index</a>
<br>
<br>
{{ state }}
</div>

</div> <!-- ends column -->

<div class="footer">
	{% include 'footer.html' %}
</div>
</body>
</html> 
