<html>
<title>Movie Suggestion</title>
<h1> Suggest a movie</h1>
<body>
<form action="{% url rt:movie_suggest_confirm %}" method="post"> {% csrf_token %}
<table class="moviesuggest-table">
<tr><td>Title: </td><td><input type="text" name="title"></td></tr>
<tr><td>Year: </td><td><input type="text" name="year"></td></tr>
<tr><td>Director: </td><td><input type="text" name="director"></td></tr>
<tr><td>Producer: </td><td><input type="text" name="producer"></td></tr>
<tr><td>Actors: </td><td><input type="text" name="actor"></td></tr>
<tr><td>Synopsis: </td><td><input type="text" name="synopsis"></td></tr>
<tr></tr>
<td><input name="submit" type="submit" value="Submit"></td>
</table>
<br>
<b>{{ state }}</b>
</form>
</body>
</html> 
