<html>
<title>News add</title>

<head>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}form-style.css">

</head>

<body>
<div class="column">

<div class="headerheader">
	{% include 'navigation.html' %}
</div><!--ends header-->

<div class="notheader">
<center>
<h1>Add news</h1>
<body>
<form action="{% url rt:news_add_end %}" method="post"> {% csrf_token %}
<table class="news-table">
Current news: {{ message }} 
<br>
<tr><td>News: </td><td><input type="text" name="news" value="{{ news }}"></td></tr>
<tr></tr>
<td><input name="submit" type="submit" value="Submit"></td>
</table>
<br>
<b>{{ state }}</b>
</form>
</center>
</div>

{{ state }}

</div> <!-- ends column -->

<div class="footer">
	{% include 'footer.html' %}
</div>
</body>
</html> 
